<header class="c-header">
  <img src="../assets/img/cat.jpg" alt="cat!" class="c-header__logo">
  <div class="c-header__menu-container">
    <ul class="o-list-bare c-header__menu" data-menu-container>
      <li class="c-header__menu-item" data-menu-children>Menu item 1</li>
      <li class="c-header__menu-item" data-menu-children>Menu item 2</li>
      <li class="c-header__menu-item" data-menu-children>Menu item 3</li>
      <li class="c-header__menu-item" data-menu-children>Menu item 4</li>
      <li class="c-header__menu-item" data-menu-children>Menu item 5</li>
    </ul>
  </div>
</header>
